section{
    
    border-collapse: separate;
    border-spacing: 0;
    border:solid black 1px;
    border-radius:8px;
    -moz-border-radius:8px;
    
    
}
td
{
border-bottom:solid black 1px;
border-left:solid black 1px;

}
td:first-child{
    border-left: none;

}
body{
    
             
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 14px;
    margin: 0 auto;
    max-width: 800px; 
    padding : 30px 30px;
    
}
