a{text-decoration:none;
color: black;}
section{
    background-color:#1472a8;
   border:solid black 1px;
    border-radius : 20px;
   margin:2px;
}

.container{
justify-content: center;
    display: grid;    
}
header{
display:grid;
}

table{
    width:100vh;
}
tr{margin 5px;}
tbody{ width:width:90vh;}

thead tr{font-size: 22px; color:white;}
