a{text-decoration:none;
color: black;}
section{
    background-color:white;
   border:solid black 1px;
    border-radius : 5px;
   margin:2px;
}

.container{
justify-content: center;
    display: grid;    
}

table{border:solid black 1px;
    width:100vh;
}
tr{margin 5px;}
tbody{ width:width:90vh;}
