table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

th {
    
    font-weight: Solid ;
    font-size: 2em ;
}
.image {
    font-size: 1px;
}